* {
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: rgb(29, 29, 29);
}
.header-image {
    width: 100%;
    background-color: red;
    background-image: url('./images/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-image .podmiot-nazwa {
    filter: drop-shadow(4px 4px 5px black);
    cursor: default;
}
.header-image .small-logo {
    width: 100%;
    max-width: 200px;
}
.page {
    background-color: rgb(29, 29, 29);
}
.wyszukiwarka {
    margin: -3% 0 10vh 0; /* Nie oceniaj tego zapisu */
    background-color: rgba(255, 255, 255, 0.5);
}
.content, .content * {
    background-color: rgb(23, 23, 23);
    color: rgb(184, 184, 184);
    text-shadow: 4px 4px 4px black;
}
    .content table td {
        border-top: 1px solid rgb(29, 29, 29);
        border-bottom: 1px solid rgb(29, 29, 29);
        vertical-align: middle;
    }
    .content table img {
        min-width: 40px;
        max-width: 75px;
    }
.no-content {
    color: rgb(84, 84, 84);
    text-shadow: 4px 4px 4px black;
}
